aside.logo {
    background-color: rgb(99, 99, 99);
    background-image: url('../../../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.logo img {
    padding: 10px 20px;
    width: auto;
    height: 100%;
}