main.main {           
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Add vertical scrollbar */ 
}

main > div {
    background-color: rgb(255, 255, 255);
    padding: 20px; 
    margin: 15px;  
}

