main.main {
    margin: 15px;        
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Add vertical scrollbar */ 
}

main > div {
    padding: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
    background-color: rgb(255, 255, 255);    
}
