main.main {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Add vertical scrollbar */
}

 main > div {    
    margin: 15px;
    padding: 20px;
    background-color: #FFF;
    box-shadow: 5px 5px 15px rgba(247, 232, 232, 0.267);
     
}
