aside.nav-area {
    background-color:  rgb(32, 32, 32);
    
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Add vertical scrollbar */          
}

.nav a {
    display: flex;
    align-items: center;
    align-content: flex-start;
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
    padding: 10px 3px;    
}

.nav span {
    padding: 0 10px;
}

.nav a:hover {
    background: linear-gradient(135deg, #dfdc3a 0, #474747 100%);
}

